configuration {
  show-icons: true;
  icon-theme: "Adwaita";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "themes/rounded-purple-dark"
